* {box-sizing: border-box;}
body{padding: 0;margin: 0;}
h1,h2,h3,h4,h5{margin: 0;padding:0;}
.comment_item{border: solid 2px black;margin: 8px 0px;padding:8px;}
.score_item li{
    list-style: none;
}
.score_item .score_title {
    padding: 0px 7px;
}

table tr th {
    width: auto;
    padding: 16px;
}